
::ng-deep {

    // Paginator
    .p-paginator{
        background: unset ;
    }

    .p-paginator-first,.p-paginator-last{
        display: none;
    }
    .p-paginator-page:not(.p-highlight):hover, .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover{
        background: unset;
    }
    .p-dropdown {
        background: transparent;
        border: none;
        outline: none;
    }
    .p-highlight:not(.p-dropdown-item){
        border-radius: 1rem;
        background-color: transparent;
        color: var(--text-white);
        &::after{
            content: url('../../../../assets/images/ribbon.png') !important;
            position: absolute !important;
            top: -2px !important;
            inset-inline-start: 50% !important;
            transform: translateX(-50%);
            z-index: -1 !important;
        }
        // padding: 0.2rem;
    }
    .p-dropdown-panel .p-dropdown-items{
        padding: 0;
        margin-bottom: 0;
    }
}
