<div class="container custom-card w-100 p-3">
    <app-search-field  (onSearch)="search($event)"></app-search-field>
    @if(isLoading()){
        <app-lottie-loader></app-lottie-loader>
    }@else if(dataSource().length){
    <app-book-list-table [dataSource]="dataSource()"></app-book-list-table>
    }@else {
        <app-empty-state></app-empty-state>
    }
    <app-paginator [totalCount]="paginator$.getValue().length" [pageNumber]="paginator$.getValue().pageIndex" (changePage)="changePage()" [showPageSize]="dataSource().length>0"></app-paginator>

</div>