.custom-card{
    border-radius: 1rem !important;
    background: rgba(16, 1, 1, 0.189);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

a{
    text-decoration: none !important;
    color: white !important;
}

.fit-content{
    width: fit-content;
}