.custom-card{
    border-radius: 1rem !important;
    background: var(--card-bg);
    border-radius: 1rem;
    box-shadow: 0 4px 30px var(--card-shadow);
    backdrop-filter: blur(1.2rem);
    -webkit-backdrop-filter: blur(1.2rem);
}

a{
    text-decoration: none !important;
    color: var(--text-white) !important;
}

.fit-content{
    width: fit-content;
}


.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
